.parchment01 {
  padding: 1px;
  margin: 1px;
  border-radius: 1px;
  border: 1px solid var(--dark-parchment-color);
  color: var(--black-marble-color);
  background-color: var(--light-parchment-color);
  background-blend-mode: multiply;
}
