.frame02 {
  position: relative;
}
.frame02::before {
  content: "";
  position: absolute;
  background-image: url("../ornaments/filigree-corner01.svg");
  background-size: contain;
  rotate: 90deg;
  top: 4px;
  left: 4px;
  min-width: 60px;
  min-height: 60px;
}

.frame02::after {
  content: "";
  position: absolute;
  background-image: url("../ornaments/filigree-corner01.svg");
  background-size: contain;
  rotate: -90deg;
  bottom: 4px;
  right: 4px;
  min-width: 60px;
  min-height: 60px;
}
