@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@0;100..900&display=swap");

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.pergamin-background {
  /* Kolor tła pergaminu */
  background-color: #f4e4bc;

  /* Tekstura papieru wykonana gradientem (ziarnistość) */
  background-image:
    radial-gradient(at 0% 0%, rgba(255, 255, 255, 0.3) 0px, transparent 50%),
    linear-gradient(
      135deg,
      rgba(100, 70, 40, 0.05) 0%,
      rgba(100, 70, 40, 0.1) 100%
    );

  /* Cień krawędzi - nadaje efekt kartki leżącej na stole */
  box-shadow:
    inset 0 0 100px rgba(100, 70, 40, 0.3),
    0 10px 20px rgba(0, 0, 0, 0.2);

  /* Drobne detale (opcjonalnie - dodaje trochę szumu) */
  background-blend-mode: multiply;

  /* Padding, żeby tekst nie dotykał krawędzi */
  padding: 40px;
  border: 1px solid #d4c094;
  border-radius: 4px;

  /* Ramka
  border-color: #d4c094;
  border-style: solid;
  border-width: 30px; /* Grubość ramki */
  /*
  border-image: url("path-to-your-frame.png") 30 stretch;
  */
}

/* 
TO BE MOVED TO A COMPONENT

.pattern {
  --s: 16px; 
  --c1: #0172ad;
  --c2: #b09f79;

  --_g: #0000 83%, var(--c1) 85% 99%, #0000 101%;
  background: radial-gradient(27% 29% at right, var(--_g)) calc(var(--s) / 2)
      var(--s),
    radial-gradient(27% 29% at left, var(--_g)) calc(var(--s) / -2) var(--s),
    radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s) / 2),
    radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s) / -2)
      var(--c2);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
} 

.pattern-bg {
  --s: 200px; 
  --c1: #0172ad;
  --c2: #b09f79;

  --_g: #0000 83%, var(--c1) 85% 99%, #0000 101%;
  background: radial-gradient(27% 29% at right, var(--_g)) calc(var(--s) / 2)
      var(--s),
    radial-gradient(27% 29% at left, var(--_g)) calc(var(--s) / -2) var(--s),
    radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s) / 2),
    radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s) / -2)
      var(--c2);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
} */
