@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Tangerine:wght@400;700&family=UnifrakturMaguntia&display=swap&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  --light-paper: #f4e4bc;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-width: 100vw;
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) sepia(0.5) contrast(1.2);
}

/* 
TO BE MOVED TO A COMPONENT

.pattern {
  --s: 16px; 
  --c1: #0172ad;
  --c2: #b09f79;

  --_g: #0000 83%, var(--c1) 85% 99%, #0000 101%;
  background: radial-gradient(27% 29% at right, var(--_g)) calc(var(--s) / 2)
      var(--s),
    radial-gradient(27% 29% at left, var(--_g)) calc(var(--s) / -2) var(--s),
    radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s) / 2),
    radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s) / -2)
      var(--c2);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
} 

.pattern-bg {
  --s: 200px; 
  --c1: #0172ad;
  --c2: #b09f79;

  --_g: #0000 83%, var(--c1) 85% 99%, #0000 101%;
  background: radial-gradient(27% 29% at right, var(--_g)) calc(var(--s) / 2)
      var(--s),
    radial-gradient(27% 29% at left, var(--_g)) calc(var(--s) / -2) var(--s),
    radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s) / 2),
    radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s) / -2)
      var(--c2);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
} */
