.main {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 32px;
  background: white;
  border: 1px solid white;
  border-radius: 1px;
}
.centerContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  gap: 32px;
  background: white;
  border: 1px solid white;
  border-radius: 1px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 32px;
  background: white;
  border: 1px solid white;
  border-radius: 1px;
}
