.main {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background: white;
  border: 1px solid white;
  border-radius: 1px;
}
.centerContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  background: white;
  border: 1px solid white;
  border-radius: 1px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background: white;
  border: 1px solid white;
  border-radius: 1px;
}

.leftContainerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: grey;
  border: 1px solid grey;
  border-radius: 1px;
}

.houseCoA {
  background: white;
  border: 1px solid red;
  border-radius: 1px;
  align-self: flex-start;
  max-width: 15%;
}

.portrait {
  background: white;
  border: 1px solid brown;
  border-radius: 100%;
}

.familyCoA {
  background: white;
  border: 1px solid red;
  border-radius: 1px;
  align-self: flex-start;
  max-width: 15%;
}
